	<header role="banner">
		<div class="page-header">
			<h1 class="logo"><strong>Jet</strong>ro</h1>
			<div class="nav">
				<nav class="nav__main">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About us</a></li>
						<li class="current"><a href="#">Blog</a></li>
						<li><a href="#">Portfolio</a></li>
						<li><a href="#">Contact us</a></li>
					</ul>
				</nav>
				<div class="nav__trigger">
					<span>Menu</span>
				</div>
				<nav class="nav__mobile"></nav>
			</div>
		</div>
		<div class="container-fluid">
			<div class="page-name">
				<h2>blog</h2>
			</div>
		</div>
	</header>